* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}




body {
 background-color: #F2D1B3;
}
/* Sou eu aqui*/
  nav{
    background-color: #EBEBEB;
    height:80px;
    width:100%;
  }



 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
 }
 .nav-list li{
  letter-spacing: 3px;
  margin-left: 32px;
 }

  li a {
    display: inline;
    color:black;
    text-align: center;
    padding:14px 14px ;
    margin:0 5px;
    text-decoration: none;
    line-height: 80px;
    float: right;
    font-size:30px;
    }
  

    label.logo{
      padding:14px 14px ;
      font-size:30px;
      margin-left: 20px;
      line-height: 80px;
      float:left ;
      align-items: center;
    }

    li a:hover{
      text-decoration: underline;
    }
  
    .checkbtn {
      font-size: 30px;
      color:black;       
      float:right;
      line-height: 80px;
      margin-right: 20px;
      cursor: pointer;
      display:none;
     }
     #check{
      display:none;
     }

@media (max-width:952px) {
 label.logo{
  font-size: 40px;
  margin-left: 5px;
 }
}
 @media (max-width:600px){
 
 .nav-list {
  display:block;
  background:#EBEBEB;
  position:absolute ;
  top:14vh;
  right:0;
  width: 80%;
  height: 100%;
 box-shadow: 2px 2px  10px black;
 
}
  body{
    width:100%;
    
  }
  li a{
    font-size:24px;
    width:100%;
    top: 80px;
    text-align: center;
    transition: all 1s;
    padding: 50px;
   
  }
  ul{
    
    padding-top: 50px;
    
  }
  .checkbtn{
    display:block;
    }
    .nav-list.active{
      display:block;
    }
  }
 


  

 
 

/* Canedo */
  .footer {
 background-color: #EBEBEB;
 color: black;
 padding: 3em;
 text-align: center;
}

.footer-nav {
 display: flex;
 justify-content: center;
 list-style-type: none;
}

.footer_nav li {
 margin: 0 1em;
}

.footer_nav li:hover {
 cursor: pointer;
}